@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenr {
  width: 100%;
  max-width: 1140px;
  display: flex;
}
header {
  width: 100%;
  padding: 1rem;
  background-color: black;
  display: flex;
  justify-content: center;
  .contenr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    h1 {
      font-family: "Merriweather", serif;
      text-transform: capitalize;
      font-size: 30px;
      line-height: 36px;
      font-weight: 400;
    }
    i {
      font-size: 25px;
    }
  }
}
.hero-section {
  width: 100%;
  padding: 6rem 0;
  background-image: url(./fcb14a161aa9547b4673c26e4bc92cdd.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  .contant {
    width: 650px;
    max-width: 80%;
    height: 400px;
    background-color: rgba(129, 193, 50, 0.306);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
    p {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
    }
    h1 {
      font-family: "Merriweather", serif;
      font-size: clamp(40px, 6vw, 72px);
      font-weight: 400;
      line-height: 79.2px;
    }
    a {
      width: 170px;
      padding: 0.8rem 0;
      background-color: #81c132;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        background-color: rgba(159, 215, 19, 0.454);
      }
    }
    .box1 {
      width: 96px;
      height: 96px;
      border-top: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      position: absolute;
      top: 5px;
      right: 5px;
    }
    .box2 {
      width: 96px;
      height: 96px;
      border-bottom: 2px solid #ffffff;
      border-left: 2px solid #ffffff;
      position: absolute;
      bottom: 5px;
      left: 5px;
    }
  }
}
.section-1 {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .contenr {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    img {
      width: 570px;
      max-width: 90%;
      height: 495px;
      @media screen and (max-width: 767px) {
        order: 2;
      }
    }
    .right {
      width: calc(100% - 570px - 2rem);
      padding-left: 2rem;
      padding-bottom: 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @media screen and (max-width: 767px) {
        width: 90%;
        order: 1;
      }
      h3 {
        width: 450px;
        max-width: 80%;
        font-family: "Merriweather", serif;
        font-size: 37px;
        color: #111111;
        font-weight: 400;
      }
      hr {
        width: 65px;
        border: 2px solid rgb(129, 193, 50);
      }
      p {
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.8rem;
      }
    }
  }
}
.section-2 {
  display: flex;
  justify-content: center;
  .contenr {
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
    padding-bottom: 12rem;
    @media screen and (max-width: 767px) {
      justify-content: center;
    }
    .left {
      position: relative;
      @media screen and (max-width: 767px) {
        order: 2;
      }

      i {
        position: absolute;
        top: -1rem;
        left: -0.5rem;
        z-index: -1;
        font-size: 60px;
        color: rgb(229, 229, 229);
      }
      p {
        width: 260px;
        font-family: "Merriweather", serif;
        font-size: 24px;
        line-height: 35.4px;
        font-weight: 400;
        text-decoration: none solid rgb(17, 17, 17);
        text-align: left;
        color: #111111;
      }
    }
    img {
      width: 572px;
      height: 365px;
      max-width: 70%;
      position: absolute;
      left: calc(50% - (572px / 2));
      box-shadow: rgba(26, 26, 26, 0.55) 0px 0px 31px 0px;
      @media screen and (max-width: 767px) {
        position: static;
        order: 1;
        margin-top: -5rem;
        object-fit: cover;
      }
    }
    .right {
      width: 385px;
      height: 253px;
      padding: 30px 25px;
      background-color: #d4d3d3;
      position: absolute;
      right: 0;
      top: -5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      box-shadow: rgba(26, 26, 26, 0.55) 0px 0px 31px 0px;
      @media screen and (max-width: 767px) {
        position: static;
        order: 3;
      }
      h2 {
        font-family: "Merriweather", serif;
        font-size: 36px;
        font-weight: 300;
      }
      hr {
        width: 65px;
        border: 1.5px solid rgb(129, 193, 50);
      }
      p {
        width: 290px;
        max-width: 90%;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-style: italic;
        line-height: 25.6px;
      }
    }
  }
}
.section-3 {
  display: flex;
  justify-content: center;
  .contenr {
    flex-wrap: wrap;
    padding-bottom: 10rem;
    @media screen and (max-width: 767px) {
      justify-content: center;
    }
    .left {
      width: 375px;
      max-width: 90%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      justify-content: center;
      @media screen and (max-width: 767px) {
        order: 2;
      }
      h2 {
        color: rgb(17, 17, 17);
        font-family: "Merriweather", serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 39.6px;
        text-align: left;
      }
      hr {
        width: 65px;
        border: 1.5px solid rgb(129, 193, 50);
      }
      p {
        color: rgb(17, 17, 17);
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 25.6px;
      }
    }
    .right {
      position: relative;
      @media screen and (max-width: 767px) {
        order: 1;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      .img-1 {
        width: 460px;
        height: 300px;
        position: absolute;
        top: 14rem;
        left: 5rem;
        z-index: -10;
        @media screen and (max-width: 767px) {
          position: static;
          max-width: 90%;
        }
      }
      .img-2 {
        width: 380px;
        height: 480px;
        box-shadow: rgba(26, 26, 26, 0.4) 0px 100px 10px 10px;
        position: absolute;
        top: -7rem;
        left: 24rem;
        @media screen and (max-width: 767px) {
          position: static;
          max-width: 90%;
          box-shadow: none;
          margin-top: -2rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
.section-4 {
  width: 100%;
  height: 190vh;
  background-image: url(./sec4.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 767px) {
    background-image: none;
    margin-top: 50rem;
  }
  .contenr {
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 767px) {
      background-image: url(./sec4.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    .son {
      width: calc((100% - 4rem) / 3);
      height: 400px;
      background-color: rgba(255, 255, 255, 0.523);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem;
      position: relative;
      @media screen and (max-width: 767px) {
        width: calc((100% - 4rem) / 1);
      }
      h2 {
        color: rgb(52, 100, 115);
        font-family: "Merriweather", serif;
        font-size: 77px;
        font-weight: 400;
      }
      h3 {
        width: 230px;
        max-width: 80%;
        color: rgb(17, 17, 17);
        font-family: "Merriweather", serif;
        font-size: 24px;
        font-weight: 400;
        position: absolute;
        top: 75px;
        left: 90px;
      }
      P {
        color: rgb(17, 17, 17);
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 28.8px;
      }
      a {
        width: 45px;
        color: rgb(17, 17, 17);
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 2px solid rgb(52, 100, 115);
      }
    }
    .son1 {
      width: calc((100% - 4rem) / 3);
      height: 400px;
      margin-top: 2rem;
      background-color: rgba(255, 255, 255, 0.523);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem;
      position: relative;
      @media screen and (max-width: 767px) {
        width: calc((100% - 4rem) / 1);
        margin-top: none;
      }
      h2 {
        color: rgb(52, 100, 115);
        font-family: "Merriweather", serif;
        font-size: 77px;
        font-weight: 400;
      }
      h3 {
        width: 230px;
        max-width: 80%;
        color: rgb(17, 17, 17);
        font-family: "Merriweather", serif;
        font-size: 24px;
        font-weight: 400;
        position: absolute;
        top: 75px;
        left: 90px;
      }
      P {
        color: rgb(17, 17, 17);
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 28.8px;
      }
      a {
        width: 45px;
        color: rgb(17, 17, 17);
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 2px solid rgb(52, 100, 115);
      }
    }
  }
}
